extends layout

block content
    script(type='text/javascript')
        var playlist = !{JSON.stringify(playlist)};
        if (playlist.image) {
            $('#header').css('background-image', 'url(/images/' + playlist.image + ')');
        }
    h1= title
    if user
        br
        form.form-inline.add-form(action="/add", method="post", accept-charset="utf-8")
            input.form-control.input-medium.track-title(type="hidden", name="title", placeholder="title")
            input.form-control.input-medium.track-artist(type="hidden", name="artist", placeholder="artist")
            input.form-control.input-medium.track-url(type="text", name="url", placeholder="url")
            input.playlist-id(type="hidden", name="id", value="#{id}")
            button.btn.addsong(type="submit") Add Song
    br

    .row
        .col-lg-6
            .list-group
                each song, i in songs
                    .list-group-item.song(href=song.url)
                        p.list-group-item-heading
                            b #{song.title}
                            |  - #{song.artist}
                        if owner == true
                            a.btn.btn-large.delete(href="/destroy/#{id}/#{song._id}") <i class="icon-remove"></i>

    #track
        #player
